{% extends 'base.html.twig' %} {% block title %}Login{% endblock %} {% block
body %}

<div clas="bg-dark">
  <a href="{{ path('login') }}" style="color:white;">Login</a>
</div>
<h1>BYE! SEE YOU NEXT TIME</h1>

{% endblock %}
