{% extends 'base.html.twig' %} {% block title %}Login{% endblock %} {% block
body %}

<h1 class="container">Login Here</h1>

<div class="container">
  {% if error %}
  <span class="error">{{ error.messageKey }}</span>
  {% endif %}
  <form action="{{ path('login') }}" method="POST">
    <input
      type="username"
      placeholder="Username"
      name="_username"
      value="{{ last_Username }}"
      class="form-control"
    />
    <input
      type="password"
      placeholder="Password"
      name="_password"
      class="form-control"
    />
    <button type="submit" class="success">Login</button>
  </form>
</div>

{% endblock %}
